<ion-header>
  <ion-toolbar>
    
    <ion-buttons>
      <ion-back-button defaultHref="/"></ion-back-button>
      <ion-title >Listado de Coches </ion-title>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-list>
    <ion-item *ngFor="let c of coches">
      <ion-label>
        <ion-card>
          <ion-card-header>

            <ion-card-title> <ion-text class="marca">Marca:</ion-text> {{c.marca}}</ion-card-title>
            <ion-card-subtitle><ion-text class="modelo">Modelo:</ion-text> {{c.modelo}}</ion-card-subtitle>
            <p><ion-text class="matricula">Matricula:</ion-text> {{c.matricula}}</p>

          </ion-card-header>
          <ion-card-content>

            <ion-button color="medium" [routerLink]="['/coches-update',c]"><ion-icon name="create" style="zoom:1.5"></ion-icon></ion-button>

            <ion-button color="danger" clear (click)="removeCoche(c)">
              <ion-icon name="trash" style="zoom:1.5"></ion-icon>
              </ion-button>
          </ion-card-content>
        </ion-card> 
    </ion-label>    
    </ion-item>
  </ion-list>
  
</ion-content>
