<ion-header>
  <ion-toolbar>
    
    <ion-buttons>
      <ion-back-button defaultHref="/"></ion-back-button>
      <ion-title>Listado de Coches </ion-title>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  
  <ion-list>
    <ion-item *ngFor="let coche of coches">
      <ion-label>
        <ion-card>
          <ion-card-header>

            <ion-card-title>Marca: {{coche.marca}}</ion-card-title>
            <ion-card-subtitle>Modelo: {{coche.modelo}}</ion-card-subtitle>
            <p>Matricula: {{coche.matricula}}</p>

          </ion-card-header>
          <ion-card-content>

            <div>
              <button ion-button clear [routerLink]="['/coches-update/', coche.id]">
                <ion-icon name="create" style="zoom:1.5"></ion-icon>
              </button>
              <button ion-button clear (click)="removeCoche(coche)">
                <ion-icon name="trash" style="zoom:1.5"></ion-icon>
              </button>
            </div>

          </ion-card-content>
        </ion-card> 
    </ion-label>    
    </ion-item>
  </ion-list>
  
</ion-content>
