<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pagina Inicial
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div >
   
  </div>

  <ion-button expand="block" (click)="gotoCoches()">Mostrar listado de Coches (GET)</ion-button>
  <ion-button expand="block" (click)="gotoCreateCoches()">Insertar un Coche (POST)</ion-button>
</ion-content>
