<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Concesionario Chiquito
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="height: 100%; display: flex; align-items: center; justify-content: center;">
    <ion-card >
      <ion-card-header>
        <ion-card-title>Bienvenido a un concesionario de coches</ion-card-title>
        <ion-card-subtitle></ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-img style="width: 150px; height: 150px;" src="/assets/supra.jpg"></ion-img>

      <div style="text-align: center !important;" >
        <ion-button (click)="presentAlert">Show Alert</ion-button>
      </div>  

    

      </ion-card-content>
    </ion-card> 
  </div>



</ion-content>


