<ion-header>
  <ion-toolbar>
    
    <ion-buttons>
      <ion-back-button defaultHref="/"></ion-back-button>
      <ion-title> Insertar Coche </ion-title>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <form [formGroup]="cocheForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">Matricula</ion-label>
        <ion-input formControlName="matricula" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Marca</ion-label>
        <ion-input formControlName="marca" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Modelo</ion-label>
        <ion-input formControlName="modelo" type="text" required>
        </ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="danger" expand="block">Insertar</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>
